<!--Have to loop through array of currencies-->
<!--want each item to be a component, so we use the app-currency-item-->
<!--passing in an attribute to the element, using [currency]="currency", one way binding-->
<!--
<app-currency-item *ngFor="let currency of currencies" [currency]="currency">
</app-currency-item>
-->

<div >

    Base Currency:

    <input #amt (keyup.enter) = "userInput(amt.value, fromOption.value, toOption.value)" type="text" placeholder="0.00" > 
    
    <select #fromOption>
        <option  [value]="rate"  *ngFor="let rate of ratesArray">{{ rate }} </option>
    </select>
    
    <br>

    Currency converted to:  {{ result | currency:"USD":"symbol"}} 
    <select #toOption>
        <option [value]="rate" *ngFor="let rate of ratesArray">
            {{ rate }}
        </option>
    </select> <br>
   
    <p>as of {{ currency.date }}</p>

    
</div>