.currencyComponentShell{
    text-align: center;
    color:mediumblue;
    font-size: 25px;
}

#topPortion{
    color: white;
    width: auto;
    background: linear-gradient(110deg, midnightblue 60%, mediumblue 60%);
    height: 100px;
}

#topPortion select{
    color: white;
}

input {
    font-size: large;
    border: none;
    color: blue;
    background: transparent;
}

#text{
    border-bottom: white 2px solid;
    color: ivory;
}

#text:focus{
    outline-width:0;
}

select{
    border: none;
    background: transparent;
    font-size: 16px;
    color:mediumblue;
}